body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
  }

.app {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid black
  }