{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header -->
<div class="tm-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                <a href="#" class="tm-site-name">My Travel Company</a>	
            </div>
            <div class="col-lg-6 col-md-8 col-sm-9">
                <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
                <nav class="tm-nav">
                <ul>
                    <li><a href="../" class="">Home</a></li>
                    <li><a href="register" >Register</a></li>
                    <li><a href="login" class="active">Login</a></li>
                    <li><a href="../tours">Our Tours</a></li>
                </ul>
            </nav>		
            </div>				
        </div>
    </div>	  	
</div>

<div class="section-padding-bottom">
    <div class="container" style="width:700px">
        <div class="row">
            <div class="tm-section-header section-margin-top">
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Login</h2></div>
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
            </div>				
        </div>
        <div style="width:400px; margin:auto">
            <form action="login" method="post">
                {% csrf_token %}
                <div class="col-lg-6 col-md-6" style="margin:auto; width:400px">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="tm-submit-btn" value="Login">
                    </div>
                </div>
            </form>
        </div>
        <div class="messages">
            {% for message in messages %}
                <h3>{{message}}</h3>
            {% endfor %}
        </div>
    </div> 
</div>

{% endblock %}