.messages {
    padding: 20px;
    text-align: center;
}

.wrapper {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: lightgray;
}

.register {
    padding: 50px;
}

.register > form {
    border: 1px solid #3339;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.register > form > input {
    padding: 8px;
    border-radius: 4px;
    }
  
.register > form > button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}