{% extends 'base.html' %}

{% block content %}

<h1>Django Webpage</h1>
<div class="app">
    <h3>Python</h3>
    <p>Python is not just one of the most rapidly developing coding languages, but also one that allows for quick prototyping and iterations. This makes the work easier and far more productive for developers. This also makes Python a great language for startups, as often faster time to market means greater competitive advantage.</p>
    <h3>Django</h3>
    <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
    <h3>Jinja</h3>
    <p>Jinja is a fast, expressive, extensible templating engine. Special placeholders in the template allow writing code similar to Python syntax. Then the template is passed data to render the final document.</p>
</div>

{% endblock %}